[Unit]
Description=I2C to MQTT data bridge
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/sbin/i2cbridge -c/etc/i2cbridge.cfg
WorkingDirectory=/root
Restart=no
RestartSec=30
User=root

[Install]
WantedBy=multi-user.target
